.contact {
  height: 100vh;
  background: rgb(51, 4, 4);
}

@media screen and (max-width: 954px) {
  .contact {
    height: auto;
    background: rgb(51, 4, 4);
  }
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0 10px 0;
}

div.picture {
  min-width: 35vw;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.picture img {
  width: 290px;
  height: 340px;
  padding: 20px;
  background-color: rgb(255, 255, 255);
}

.picture p {
  font: 45 45px/1.5 'Pacifico', Helvetica, sans-serif;
  color: #ffffff;
  text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.1), 7px 7px 0px rgba(0, 0, 0, 0.05);
  padding: 10px 0;
}

div.about {
  flex: 3;
  flex-basis: 500px;
  height: auto;
}

.about h1 {
  font: 30 30px/1.5 'Pacifico', Helvetica, sans-serif;
  color: #ffffff;
  text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.1), 7px 7px 0px rgba(0, 0, 0, 0.05);
  padding: 20px 0;
}

.about p {
  color: white;
  font-size: 20px;
}

.fa {
  font-size: 60px;
  width: 55px;
  text-align: center;
  text-decoration: none;
  margin: 20px 5px 20px 5px;
}

.fa-facebook-square {
  color: #4267b2;
}

.fa-facebook-square:hover {
  color: white;
}

.fa-twitter-square {
  color: #38a1f3;
}
.fa-twitter-square:hover {
  color: white;
}

.fa-linkedin-square {
  color: #0077b5;
}
.fa-linkedin-square:hover {
  color: white;
}

.fa-github-square {
  color: #4078c0;
}

.fa-github-square:hover {
  color: white;
}
.about ul li {
  display: inline;
}

.extra {
  font-size: 20px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  margin: 10px 2px 10px 2px;
}

.fa-phone {
  color: white;
}

.fa-envelope-o {
  color: white;
}

.emailphone {
  display: block;
  color: wheat;
}

.footerContainer {
  display: flex;
  background-color: black;
  padding: 5px 5px;
  color: white;
  flex-wrap: wrap;
}
.footerContainer > .createdby {
  width: 300px;
  margin-left: auto;
  font-size: 12px;
}

.footerContainer > .copyright {
  width: 180px;
  font-size: 12px;
}

@media screen and (max-width: 500px) {
  .footerContainer {
    justify-content: center;
  }
  .footerContainer > .createdby {
    flex: 1 1 300px;
    width: auto;
  }
  .footerContainer > .copyright {
    width: auto;
  }
}
