.header {
  display: flex;
  position: fixed;
  width: 100vw;
  border: 1px solid black;
  justify-content: center;
}

.header li {
  padding: 10px 20px 10px 20px;
}

.header li a {
  text-decoration: none;
}
