.person {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to left, #01579b, #00acc1);
}
#person {
  box-shadow: 0px 2px 5px black;
  z-index: 1;
}

.typewrite {
  color: white;
  font-size: 50px;
  text-shadow: 3px 3px 5px black;
}
