.projects {
  display: flex;
  align-items: flex-start;
  padding: 70px 20px 0 20px;
  justify-content: space-around;
}

#projects {
  height: 100vh;
  background: #212121;
}

#projectHeader {
  color: white;
  font-size: 30px;
  font-weight: 500;
  padding-top: 60px;
  text-shadow: 2px 2px 5px black;
}

#projectSkills {
  display: flex;
  justify-content: center;
  list-style: none;
}
#projectSkills li {
  padding: 10px 10px;
  color: white;
  font-size: 20px;
  font-weight: 300;
  padding-top: 20px;
  text-shadow: 2px 2px 5px black;
}

.projectcardview {
  box-shadow: 2px 4px 6px black;
}

.projectcardview > img {
  padding: 50px 5px;
  background: #000000;
}

.projectcardview > p {
  background: white;
  color: black;
  /* font-size: 25px; */
  font: 30 30px/1.5 'Pacifico', Helvetica, sans-serif;
  color: #2b2b2b;
  text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.1), 7px 7px 0px rgba(0, 0, 0, 0.05);
  padding: 10px 0;
}
