.projects {
  display: flex;
  align-items: flex-start;
  padding: 70px 20px 30px 20px;
  justify-content: space-around;
}

#scroll {
  overflow-x: scroll;
  overflow-y: hidden;
  margin-bottom: 20px;
}

#scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

#scroll::-webkit-scrollbar {
  width: 12px;
  height: 5px;
  background-color: #f5f5f5;
}

#scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #b71c1c;
}

#scroll::-webkit-scrollbar-thumb:hover {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f44336;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background: rgb(0, 0, 0);
  border-radius: 40px;
}

::-webkit-scrollbar-thumb:hover {
  background: #474747;
}
#projects {
  height: 100vh;
  background: #212121;
  box-shadow: 0px 5px 5px black;
  z-index: 3;
}

@media screen and (max-height: 657px), screen and (max-width: 910px) {
  #projects {
    height: auto;
  }
}

#title {
  color: white;
  font-size: 30px;
  font-weight: 500;
  padding-top: 60px;
  text-shadow: 2px 2px 5px black;
}

#projectSkills {
  display: flex;
  justify-content: center;
  list-style: none;
  flex-wrap: wrap;
}
#projectSkills li {
  padding: 10px 10px;
  color: white;
  font-size: 20px;
  font-weight: 300;
  padding-top: 20px;
  text-shadow: 2px 2px 5px black;
}

@media screen and (max-width: 900px) {
  #projectSkills li {
    flex: 1 1 300px;
  }
}

.projectcardview {
  box-shadow: 2px 4px 6px black;
  position: relative;
}

.projectcardview > img {
  padding: 50px 5px;
  background: #000000;
}

.projectcardview > p {
  background: white;

  font: 30 30px/1.5 'Pacifico', Helvetica, sans-serif;
  color: #2b2b2b;
  text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.1), 7px 7px 0px rgba(0, 0, 0, 0.05);
  padding: 10px 0;
}

.tooltip {
  visibility: hidden;
  position: absolute;
  left: 10px;
  right: 11%;
  padding: 3px 5px;
  margin-top: -60px;
  width: 230px;
  border-radius: 10px;
  background: rgba(2, 2, 2, 0.4);
  color: white;
  font-size: 14px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-shadow: 3px 3px 5px black;
}

.projectcardview .tooltip::after {
  content: ' ';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(114, 6, 6) transparent transparent transparent;
}

.projectcardview:hover .tooltip {
  visibility: visible;
}

@media screen and (max-width: 550px) {
  .tooltip {
    visibility: visible;
  }
}
